## Volatility Plots

In [1]:
import pandas as pd
import numpy as np
import requests
import ujson
import os

import plotly
from plotly import tools

import plotly
with open('/Users/timlee/Dropbox/keys/plotly_apikey.txt','r') as f:
    api_key = f.read()
plotly.tools.set_credentials_file(username='tdlee', api_key=api_key)

import plotly.plotly as ply
import plotly.graph_objs as go
from plotly.grid_objs import Grid, Column

## Common Functions

In [2]:
country_codes = ['chn', 'idn', 'ind', 'jpn', 'sau', 'tur', 'twn',
                 'bel', 'che', 'deu', 'esp', 'fra', 'gbr', 'ita',
                 'nld', 'pol', 'rus', 'swe', 'can', 'mex', 'usa',
                 'aus', 'arg', 'bra']


def get_countries_lkup():
    countries_url = 'https://atlas.media.mit.edu/attr/country/'
    resp = requests.get(countries_url)
    resp_json = ujson.loads(resp.content)['data']
    resp_df = pd.DataFrame(resp_json)
    country_id_lkup = {idx: name for idx, name in resp_df[['display_id','name']].values}
    return country_id_lkup


def get_data(countrycode):
    imports_url = './OEC_%s_imports.feather' % countrycode
    exports_url = './OEC_%s_exports.feather' % countrycode
    
    if not os.path.isfile(imports_url):
        return None, None
    
    if not os.path.isfile(exports_url):
        return None, None
        
    
    df_exports = pd.read_feather(exports_url)
    df_exports = df_exports[df_exports['export_val'].isna()==False].copy()
    df_exports = df_exports.sort_values(by='export_val')
    
    df_imports = pd.read_feather(imports_url)
    df_imports = df_imports[df_imports['import_val'].isna() == False].copy()
    df_imports = df_imports.sort_values(by = 'import_val')
    
    return df_imports, df_exports



def all_ports(country_codes):
    import_collector = []
    export_collector = []
    for countrycode in country_codes:
        df_imports, df_exports = get_data(countrycode)
        if df_imports is not None:
            df_imp_tmp = df_imports[['year','product_name','import_val']].copy()
            df_imp_tmp['countrycode'] = countrycode
            df_exp_tmp = df_exports[['year','product_name','export_val']].copy()
            df_exp_tmp['countrycode'] = countrycode
            import_collector.append(df_imp_tmp)
            export_collector.append(df_exp_tmp)
        
    return pd.concat(import_collector), pd.concat(export_collector)

## Top Importer / Exporter Bar Plots

In [ ]:
country_id_lkup = get_countries_lkup()
import_collector, export_collector = all_ports(country_codes)

In [164]:
mask = import_collector['year'] == 2014
imp_summary = import_collector[mask].groupby('countrycode')['import_val'].sum().reset_index().sort_values('import_val')
tr = go.Bar(
    x = imp_summary['import_val'],
    y = imp_summary['countrycode'],
    orientation='h'
)
font_dict = dict(
                family='Roboto',
                size=14
            )
layout = go.Layout(
    font=font_dict,
    width = 600,
    height = 600,
    title = 'Top Importers by Country'
)
fig = go.Figure(data=[tr], layout=layout)
ply.iplot(fig, filename='total_importers_2014')

In [165]:
mask = export_collector['year'] == 2014
exp_summary = export_collector[mask].groupby('countrycode')['export_val'].sum().reset_index().sort_values('export_val')
tr = go.Bar(
    x = exp_summary['export_val'],
    y = exp_summary['countrycode'],
    orientation='h'
)
font_dict = dict(
                family='Roboto',
                size=14
            )
layout = go.Layout(
    font=font_dict,
    width = 600,
    height = 600,
    title = 'Top Exporters by Country'
)
fig = go.Figure(data=[tr], layout=layout)
ply.iplot(fig, filename='total_exporters_2014')

## Create Changes in Export Values (delta)

In [102]:
country_id_lkup = get_countries_lkup()
import_collector, export_collector = all_ports(country_codes)

imask = import_collector['product_name'].isin(['Crude Petroleum','Petroleum oils, oils from bituminous minerals, crude']) == False
emask = export_collector['product_name'].isin(['Crude Petroleum','Petroleum oils, oils from bituminous minerals, crude']) == False

import_collector = import_collector[imask].copy()
export_collector = export_collector[emask].copy()

In [123]:
import_collector.sort_values(by=['countrycode','product_name','year'], inplace=True)
export_collector.sort_values(by=['countrycode','product_name','year'], inplace=True)
import_collector['delta'] = import_collector['import_val'].diff()
import_collector = import_collector[import_collector['year']!=1995].copy()
export_collector['delta'] = export_collector['export_val'].diff()
export_collector = export_collector[export_collector['year']!=1995].copy()

In [125]:
top_import_changes_neg = import_collector.sort_values('delta').head(10)
top_import_changes_pos = import_collector.sort_values('delta', ascending=False).head(10)

top_export_changes_neg = export_collector.sort_values('delta').head(10)
top_export_changes_pos = export_collector.sort_values('delta', ascending=False).head(10)

In [127]:
def get_combos(df):
    combos = []
    for row in df.values:
        combos.append((row[1], row[3]))
    return list(set(combos))

export_neg_combo = get_combos(top_export_changes_neg)
export_pos_combo = get_combos(top_export_changes_pos)
import_neg_combo = get_combos(top_import_changes_neg)
import_pos_combo = get_combos(top_export_changes_pos)

## Plotting exports and imports that have drastically changed

In [140]:
def get_traces(df, filter_combos, val_field, title):
    traces = []
    for product, countrycode in filter_combos:
        mask = (df['product_name'] == product) & (df['countrycode'] == countrycode)
        tmp = df[mask].copy()
        tmp.sort_values('year')
        tr = go.Scatter(
            x = tmp['year'],
            y = tmp[val_field],
            mode = 'lines',
            line = dict(width=5),
            name = country_id_lkup[countrycode] + ' ' + product
        )
        traces.append(tr)

    font_dict = dict(
                family='Roboto',
                size=20
            )

    layout = go.Layout(
        title = title,
        hovermode='closest',
        width=1000,
        height=600,
        xaxis=dict(
            title='Year',
            titlefont=font_dict,
            tickfont=font_dict,        
        ),
        yaxis=dict(
            title=val_field,
            titlefont=font_dict,
            tickfont=font_dict,
        ),
    )

    fig = dict(data=traces, layout=layout)
    return fig

export_neg_fig = get_traces(export_collector, export_neg_combo, 'export_val', 'Largest Drops in Exports')
export_pos_fig = get_traces(export_collector, export_pos_combo, 'export_val', 'Largest Jumps in Exports')
import_neg_fig = get_traces(import_collector, import_neg_combo, 'import_val', 'Largest Drops in Imports')
import_pos_fig = get_traces(import_collector, import_pos_combo, 'import_val', 'Largest Jumps in Imports')

In [172]:
ply.iplot(export_neg_fig, filename='largest_drops_exports')

In [173]:
ply.iplot(export_pos_fig, filename='Largest_jumps_in_exports')

In [174]:
ply.iplot(import_pos_fig, filename='largest_jumps_imports')

In [175]:
ply.iplot(import_neg_fig, filename='largest_drops_imports')

In [80]:
traces

[{'type': 'scatter', 'x': 4799      1995.0
  10863     1996.0
  16925     1997.0
  22972     1998.0
  29017     1999.0
  35126     2000.0
  41316     2001.0
  47482     2002.0
  53646     2003.0
  59803     2004.0
  65968     2005.0
  72136     2006.0
  78292     2007.0
  84420     2008.0
  90521     2009.0
  96576     2010.0
  102610    2011.0
  108657    2012.0
  114690    2013.0
  120704    2014.0
  Name: year, dtype: float64, 'y': 4799      4.098790e+07
  10863     5.202274e+07
  16925     4.236958e+07
  22972     5.452878e+07
  29017     5.845065e+07
  35126     2.337116e+07
  41316     3.202624e+07
  47482     6.191575e+07
  53646     5.158936e+07
  59803     1.078894e+08
  65968     4.494443e+07
  72136     2.840680e+07
  78292     4.049030e+07
  84420     6.757842e+07
  90521     6.039019e+07
  96576     5.259883e+07
  102610    6.971555e+07
  108657    4.836816e+07
  114690    5.045121e+07
  120704    3.473077e+07
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'China Transporter or bridge cranes'},
 {'type': 'scatter', 'x': 2618      1995.0
  8681      1996.0
  14755     1997.0
  20803     1998.0
  26858     1999.0
  32911     2000.0
  39110     2001.0
  45279     2002.0
  51448     2003.0
  57600     2004.0
  63761     2005.0
  69928     2006.0
  76087     2007.0
  82228     2008.0
  88337     2009.0
  94403     2010.0
  100444    2011.0
  106482    2012.0
  112519    2013.0
  118542    2014.0
  Name: year, dtype: float64, 'y': 2618      3.871928e+07
  8681      8.381843e+07
  14755     1.024693e+08
  20803     1.146105e+08
  26858     1.250121e+08
  32911     1.945927e+08
  39110     1.618853e+08
  45279     1.386555e+08
  51448     1.373635e+08
  57600     1.253867e+08
  63761     1.307944e+08
  69928     1.486891e+08
  76087     1.370338e+08
  82228     1.380192e+08
  88337     1.687901e+08
  94403     2.055848e+08
  100444    2.233264e+08
  106482    2.332952e+08
  112519    2.945502e+08
  118542    2.967303e+08
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'China Brochures'},
 {'type': 'scatter', 'x': 1017      1995.0
  18541     1998.0
  24482     1999.0
  36440     2001.0
  42487     2002.0
  54540     2004.0
  60574     2005.0
  66600     2006.0
  72639     2007.0
  78575     2008.0
  84351     2009.0
  90022     2010.0
  95684     2011.0
  106955    2013.0
  112595    2014.0
  Name: year, dtype: float64, 'y': 1017          2582.44
  18541      2297520.00
  24482        57895.00
  36440     16065249.00
  42487        21294.00
  54540         2380.00
  60574       408129.00
  66600       118843.00
  72639      1531531.00
  78575      3645347.00
  84351         3959.00
  90022       100625.00
  95684       438868.00
  106955        9415.00
  112595        4237.00
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'Saudi Arabia Crude Petroleum'},
 {'type': 'scatter', 'x': 2601      1995.0
  8696      1996.0
  14791     1997.0
  20873     1998.0
  26951     1999.0
  33037     2000.0
  39264     2001.0
  45459     2002.0
  51645     2003.0
  57813     2004.0
  63987     2005.0
  70148     2006.0
  76310     2007.0
  82423     2008.0
  88500     2009.0
  94527     2010.0
  100496    2011.0
  106448    2012.0
  112386    2013.0
  118314    2014.0
  Name: year, dtype: float64, 'y': 2601      2.203777e+08
  8696      2.332745e+08
  14791     2.126851e+08
  20873     2.086090e+08
  26951     2.160602e+08
  33037     1.664870e+08
  39264     1.759500e+08
  45459     1.987865e+08
  51645     2.501761e+08
  57813     2.765546e+08
  63987     3.004396e+08
  70148     3.340347e+08
  76310     3.935393e+08
  82423     4.514864e+08
  88500     4.191807e+08
  94527     4.493492e+08
  100496    5.113601e+08
  106448    5.148624e+08
  112386    5.903546e+08
  118314    6.280913e+08
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'Germany Cartons, boxes & cases, folding, non-corrugated paper'},
 {'type': 'scatter', 'x': 5521      1995.0
  11459     1996.0
  23050     1998.0
  28950     1999.0
  34909     2000.0
  40978     2001.0
  46980     2002.0
  53015     2003.0
  59051     2004.0
  65075     2005.0
  71114     2006.0
  77114     2007.0
  82925     2008.0
  88594     2009.0
  94258     2010.0
  99908     2011.0
  111175    2013.0
  116788    2014.0
  Name: year, dtype: float64, 'y': 5521        972454.25
  11459       283360.23
  23050      4125591.36
  28950       696543.35
  34909       901252.87
  40978       183527.94
  46980       197214.00
  53015        10829.00
  59051      5172085.00
  65075      7587074.47
  71114      3892491.00
  77114     24052879.89
  82925      1848031.00
  88594       110909.00
  94258      2805386.17
  99908      4458044.00
  111175      226586.00
  116788      521368.00
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'Saudi Arabia Cruise ships, excursion boats, ferry boats'},
 {'type': 'scatter', 'x': 178       1995.0
  6249      1996.0
  12322     1997.0
  18374     1998.0
  24428     1999.0
  30469     2000.0
  36669     2001.0
  42856     2002.0
  49025     2003.0
  55189     2004.0
  61345     2005.0
  67511     2006.0
  73680     2007.0
  79834     2008.0
  85957     2009.0
  92051     2010.0
  98105     2011.0
  104135    2012.0
  110182    2013.0
  116207    2014.0
  Name: year, dtype: float64, 'y': 178       2.609066e+07
  6249      1.769667e+07
  12322     6.226129e+07
  18374     7.730877e+07
  24428     8.480441e+07
  30469     9.684622e+07
  36669     1.103835e+08
  42856     2.464623e+08
  49025     2.786579e+08
  55189     3.250011e+08
  61345     2.682147e+08
  67511     3.140640e+08
  73680     3.555162e+08
  79834     4.747921e+08
  85957     6.154804e+08
  92051     1.405382e+09
  98105     1.679259e+09
  104135    1.975029e+09
  110182    4.120686e+09
  116207    4.014709e+09
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'China Concentrated Milk'},
 {'type': 'scatter', 'x': 1995      1995.0
  7938      1996.0
  13724     1997.0
  19521     1998.0
  25454     1999.0
  31376     2000.0
  37424     2001.0
  43460     2002.0
  49481     2003.0
  55521     2004.0
  61552     2005.0
  67587     2006.0
  73608     2007.0
  79505     2008.0
  85264     2009.0
  90939     2010.0
  96605     2011.0
  102248    2012.0
  107865    2013.0
  113506    2014.0
  Name: year, dtype: float64, 'y': 1995       7478421.70
  7938       6780100.82
  13724      3556592.00
  19521      2918410.23
  25454      4082386.78
  31376     10194752.05
  37424      4462698.78
  43460      5506786.54
  49481      7415639.32
  55521     18470657.08
  61552     23298059.15
  67587     17221316.79
  73608     18130304.17
  79505     25218715.47
  85264     15874216.00
  90939     27427545.78
  96605     37857252.49
  102248    35705895.95
  107865    33800724.65
  113506    30700776.00
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'Saudi Arabia Petroleum resins, coumarone, indene, polyterpenes'},
 {'type': 'scatter', 'x': 1018      1995.0
  18542     1998.0
  24483     1999.0
  36441     2001.0
  42488     2002.0
  54541     2004.0
  60575     2005.0
  66601     2006.0
  72640     2007.0
  78576     2008.0
  84352     2009.0
  90023     2010.0
  95685     2011.0
  106956    2013.0
  112596    2014.0
  Name: year, dtype: float64, 'y': 1018          2582.44
  18542      2297520.00
  24483        57895.00
  36441     16065249.00
  42488        21294.00
  54541         2380.00
  60575       408129.00
  66601       118843.00
  72640      1531531.00
  78576      3645347.00
  84352         3959.00
  90023       100625.00
  95685       438868.00
  106956        9415.00
  112596        4237.00
  Name: import_val, dtype: float64, 'mode': 'lines', 'name': 'Saudi Arabia Petroleum oils, oils from bituminous minerals, crude'}]